.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,.5);
}

.header__logo {
    text-decoration: none;
    line-height: 0;
}

.header__logo-img {
    width: 80px;
}

.header__logo-img_lg {
    width: 160px;
}